.header {
    padding: 50px, 100px;
    background-color: #3bd6b1;
    border: 10px solid black;
    text-align: center;
}    
.main {
    padding: 100px;
    background-color: #ec9909;
    border: 10px solid black;
    text-align: center;
}
.footer {
    padding: 30px, 100px;
    background-color: #5c09ec;
    border: 10px solid black;
    text-align: center;
}